<div class="items__item item">
	<div class="item__top">
		<a href="/user/{{ post.poster_name }}" class="item__head">
			<div class="item__ava-wrap">
				<img src="{{ post.poster_avatar }}" alt="" class="item__ava"
					 width="47">
			</div>
			<span class="item__username">{{ post.poster_name }}</span>
		</a>
	</div>
	<a href="/post/{{ post.pk }}" class="item__post-link">
		<img src="{{ post.pic }}" alt="" width="348" class="item__post-img">
	</a>
	<p class="item__descr_short">{{ post.content | safe }}
	</p>
	<div class="item__post-info">
		<div class="item__counter">
			<img src="../../static/img/eye.png" alt=""
				 class="item__counter-icon"
				 width="26">
			<span class="item__counter-text">{{ post.views_count }}</span>
		</div>
	</div>
	<div class="item__post-bottom">
		<a href="/post/{{ post.pk }}" class="item__btn-more">Подробнее</a>
		<a href="/bookmarks/add/{{ post.pk }}" class="item__bookmark-btn">
			<img src="../../static/img/bookmark.png" alt=""
				 class="item__bookmark-icon" width="24">
		</a>
	</div>
</div>